@page "/textcounter"
@using System.Text
@rendermode InteractiveServer

<PageTitle>Text Counter</PageTitle>

<h1>Text Counter</h1>

<textarea id="textContent" name="textContent" rows="10" cols="80" @bind="textContent"></textarea>
<button @onclick="updateTextCounter">Update Text Counter Output</button><br />
Characters: @characters<br>Words: @words<br>Lines: @lines
@code {
    private string textContent;
    private int characters;
    private int words;
    private int lines;
    private void updateTextCounter()
    {
        string Value = textContent;
        int characters = Value.Length;
        int words = Value.Split(' ').Length;
        int lines = Value.Split('\n').Length;
    }
}