@page "/textcounter"
@using System.Text
@rendermode InteractiveServer

<PageTitle>Text Counter</PageTitle>

<h1>Text Counter</h1>

<textarea id="textContent" name="textContent" rows="10" cols="80" @bind="textContent"></textarea><br />
<button @onclick="updateTextCounter">Update Text Counter Output</button><br />
<div>@textOutput</div>
@code {
    private string textContent = "";
    private int characters = 0;
    private int words = 0;
    private int lines = 0;
    private string textOutput = "";
    private void updateTextCounter()
    {
        textOutput = "";
        string Value = textContent;
        textOutput += $"Characters: {Value.Length}\n";
        textOutput += $"Words: {Value.Split(new char[] { ' ', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries).Length}\n";
        textOutput += $"Lines: {Value.Split('\n', StringSplitOptions.RemoveEmptyEntries).Length}\n";
    }
}