@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Text Counter Application using Razor Pages</h1>
    <p>This is a text counter application written in ASP.NET using Razor Pages. It uses POST data the send the form to
        the server and gets the text counter output.</p>
</div>
